* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.footer {
  position: relative;
  width: 100%;
  background-color: #f9f9f9;
  & .footer_img {
    position: relative;
    width: 100%;
    bottom: -4px;
    &.mobile {
      display: none;
    }
    &.pc {
      display: block;
    }
  }
  & .footer_flex_layout {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  & .footer_content {
    position: absolute;
    bottom: 0;
    width: 80%;
    left: 0;
    text-align: center;
    right: 0;
    margin: 0 auto;
    padding-bottom: 1vw;
    & .line {
      height: 6rem;
      width: 1px;
      margin-left: 4vw;
      background-color: rgba(255, 255, 255, 0.1);
    }
    & .footer_center {
      display: inline-block;
      margin: 0 4vw;
      color: rgba(255, 255, 255, 0.7);
      & .footer_nav {
        margin-bottom: 2vw;
        & ul li {
          display: inline-block;
          margin: 0 1vw;
          & a {
            padding: 5px;
            color: rgba(255, 255, 255, 0.8);
            font-size: 16px;
          }
          &:hover a {
            color: #fff;
          }
        }
      }
      & .footer_connect {
        justify-content: space-between;
        padding: 0 1.5rem;
        margin-bottom: 2vw;
        & .footer_flex_item {
          & .footer_icon_left {
            margin-right: 1rem;
            & .iconfont {
              font-size: 24px;
            }
          }
          & .footer_icon_right {
            & p {
              text-align: left;
              &.title {
                font-size: 14px;
              }
            }
          }
          & .ask_btn {
            border: none;
            color: rgba(255, 255, 255, 0.8);
            background: linear-gradient(to bottom, #26a8ff, #1496ec);
            font-size: 16px;
            padding: 0 20px;
            border-radius: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            & .iconfont {
              font-size: 26px;
              padding-right: 5px;
            }
            &:hover {
              cursor: pointer;
              color: #fff;
            }
          }
        }

      }
      & .footer_number {
        font-size: 12px;
        color: rgba(255, 255, 255, 0.5);
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .footer_container {
    padding: 0;
    & .footer {
      & .footer_img {
        &.pc {
          display: none;
        }
        &.mobile {
          display: block;
        }
      }
      & .footer_content {
        width: 100%;
        padding-bottom: 10vw;
        & .footer_left {
          display: none;
          & img {
            width: 80%;
          }
        }
        & .footer_center {
          margin: 0;
          padding: 0 12px;
          & .footer_nav {
            margin-bottom: 4vw;
            & ul li {
              margin: 0 0.5vw;
              & a{
                font-size: 14px;
              }
            }
          }
          & .footer_connect {
            padding: 0;
            margin-bottom: 4vw;
            font-size: 13px;
            & .footer_flex_item {
              & .footer_icon_left {
                display: none;
              }
              & .ask_btn {
                height: 30px;
                padding: 0 10px;
                border-radius: 30px;
                font-size: 15px;
                & .iconfont{
                  font-size: 20px;
                }
              }
            }
          }
        }
        & .footer_right, & .line {
          display: none;
        }

      }
    }
  }
}
@media screen and (min-width: 1920px) {
  .footer .footer_content {
    padding-bottom: 6vw;
  }
}
