@charset "UTF-8";
.allModules {
  position: relative;
  & .content_item {
    position: relative;
    width: 100%;
    background-color: #fff;
    &.professional_banner {
      & .professional_outer {
        width: 100%;
        height: 100vh;
        position: relative;
        overflow: hidden;
      }
      & .swiper-container {
        width: 100%;
        height: 100%;
        & .swiper-slide {
          text-align: center;
          font-size: 18px;
          background: #fff;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          -webkit-align-items: center;
          align-items: center;
          background-position: inherit;
          & .banner_text {
            position: absolute;
            left: 18%;
            top: 40%;
            color: #fff;
            text-align: left;
            & .banner_title {
              font-size: 32px;
              letter-spacing: 3px;
              margin-bottom: 20px;
            }
            & .banner_sub_title {
              color: rgba(255, 255, 255, 0.4);
              font-size: 18px;
            }
          }
        }
      }
      & .banner_bg {
        position: absolute;
        width: 100%;
        z-index: 100;
        & .banner_bottom_img {
          width: 100%;
          position: absolute;
          bottom: 0;
          display: block;
          &.mobile{
            display: none;
          }
        }
      }
      .swiper-pagination-bullet {
        width: 24px;
        height: 5px;
        border-radius: 5px;
        opacity: .9;
        background-color: #fff;
      }

      .swiper-pagination-bullet-active {
        background-color: #f89f0d;
      }
      .swiper-pagination {
        margin-bottom: 25px;
        top: 72%;
      }
    }

    &.portrait_box {
      & .portrait_title {
        position: absolute;
        top: 18%;
        left: 50%;
        letter-spacing: 2px;
      }
      & .portrait_bg {
        position: relative;
        right: 0;
        width: 100%;
        top: 0;
      }
      & .portrait_flex {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 40%;
        width: 80%;
        left: 50%;
        margin-left: -40%;
        & .flex_item {
          background-color: #ddd;
          width: 20%;
          border-radius: 50%;
          &:nth-child(2) {
            margin: 0 10%;
          }
          & .portrait_img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    &.same_box {
      & .flex_layout {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        &.education_flex {
          top: -20px;
        }
        &.ecological_layout {
          align-items: flex-end;
          &.ecological_inter_layout {
            align-items: center;
          }
        }
        & .irregular_img_outer {
          position: relative;
          width: 50%;
          &.education_img_outer {
            background: url(../images/professional/education_img.jpg) no-repeat center;
            background-size: cover;
            background-position: left;
          }
          &.growth_img_outer {
            background: url(../images/professional/growth_img.jpg) no-repeat center;
            background-position: right;
            background-size: cover;
          }
          &.ecological_img_outer {
            background: url(../images/professional/ecological_img.jpg) no-repeat center;
            background-size: cover;
            background-position: left;
            width: 70%;
          }
          &.education_inter_img_outer {
            background: url(../images/international/education_img.jpg) no-repeat center;
            background-size: cover;
            background-position: left;
          }
          &.ecological_inter_img_outer {
            background: url(../images/international/ecological_img.jpg) no-repeat center;
            background-size: cover;
            background-position: left;
          }
          &.result_inter_img_outer {
            background: url(../images/international/result_img.jpg) no-repeat center;
            background-position-x: left;
            background-position-y: top;
            background-size: cover;
          }
          &.result_img_outer {
            background: url(../images/professional/result_img.png) no-repeat center;
            background-position-x: left;
            background-position-y: top;
            background-size: cover;
          }
          & .irregular_img {
            position: relative;
            height: 100%;
            & img {
              width: 100%;
              display: block;
              height: 100%;
            }
          }
        }
        & .text_width {
          text-align: left;
          padding: 0 160px;
          width: 50%;
          &.ecological_text_width {
            width: 30%;
            padding: 0;
          }
        }
      }
      & .class_layout {
        position: relative;
        & .class_layout_outer {
          background: url(../images/international/class_img.jpg) no-repeat center;
          background-size: cover;
          background-position: left;
          width: 100%;
          & .class_bg {
            position: relative;
            width: 100%;
            right: 0;
            top: 0;
            display: block;
          }
        }
        & .class_title {
          position: absolute;
          top: 50%;
          width: 45%;
          left: 41%;
          text-align: center;
          & .part_title {
            color: #fff;
          }
          & .part_sub_title {
            color: rgba(255, 255, 255, 0.8);
            text-overflow: ellipsis;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            word-break: break-all;
          }
        }
      }
    }
    &.news_box {
      z-index: 1;
      &.news_inter_box {
        height: 54vw;
        & .news_content {
          & .portrait_title {
            top: 10%;
          }
          & .news_swiper_outer {
            top: 40%;
            & .swiper-slide {
              &:nth-child(odd) {
                & .slide_box {
                  box-shadow: unset;
                  & .news_img_box {
                    &::after {
                      top: 0;
                      border-radius: 100% 100% 100% 100% / 0% 0% 30% 30%;
                      background: rgba(154, 225, 243, 0.8);
                    }
                    & .news_img_radius {
                      &::after {
                        top: -.5vw;
                        border-radius: 100% 100% 100% 100% / 0% 0% 30% 30%;
                        background: rgba(122, 207, 234, 0.8);
                      }
                    }
                    & img.news_border_img {
                      border-radius: 100% 100% 100% 100% / 0% 0% 20% 20%;
                    }
                  }
                }

              }
              &:nth-child(even) {
                & .slide_box {
                  & .news_img_box {
                    &::after {
                      bottom: 0;
                      border-radius: 100% 100% 100% 100% / 30% 30% 0% 0%;
                      background: rgba(251, 240, 176, 0.8);
                    }
                    & .news_img_radius {
                      &::after {
                        bottom: -.5vw;
                        border-radius: 100% 100% 100% 100% / 30% 30% 0% 0%;
                        background: rgba(247, 218, 95, 0.8);
                      }
                    }
                    & img.news_border_img {
                      top: 10%;
                      border-radius: 100% 100% 100% 100%/20% 20% 0% 0%;
                    }
                  }
                }
              }
              & .slide_box {
                box-shadow: unset;
                & .news_img_box {
                  border-radius: 0 !important;
                  position: relative;
                  z-index: 0;
                  height: 12vw !important;
                  overflow: hidden;
                  &::after {
                    content: '';
                    width: 120%;
                    height: 12vw;
                    position: absolute;
                    left: -10%;
                  }
                  & .news_img_radius {
                    width: 100%;
                    position: relative;
                    z-index: 1;
                    height: 12vw;
                    overflow: hidden;
                    &::after {
                      content: '';
                      width: 120%;
                      height: 12vw;
                      position: absolute;
                      left: -10%;
                    }
                  }
                  & img.news_border_img {
                    position: absolute;
                    object-fit: cover;
                    width: 100%;
                    z-index: 2;
                    max-height: 10.8vw !important;
                    left: 50%;
                    border-radius: 100% 100% 100% 100% / 0% 0% 20% 20%;
                    margin-left: -50%;
                  }
                }
                & .slide_content {
                  & .slide_title {
                    padding-bottom: 0 !important;
                    border: none !important;
                  }
                  & .slide_sub_title {
                    margin-bottom: 2vw;
                  }
                  & .news_time {
                    border-top: 1px solid #e6e6e6;
                    padding: 2vw 0 1vw;
                    text-align: left;
                    font-weight: bold;
                    font-size: 22px;
                    color: #888888;
                  }
                }
              }
            }
          }
        }
      }
      & .news_bottom_img {
        position: relative;
        left: 0;
        width: 100%;
        bottom: -4px;
        &.pc {
          display: block;
        }
        &.mobile {
          display: none;
        }

      }
      & .news_content {
        width: 100%;
        margin: 0 auto;
        & .portrait_title {
          position: absolute;
          top: 25%;
          left: 50%;
        }
        & .news_swiper_outer {
          position: absolute;
          width: 70%;
          top: 50%;
          left: 50%;
          margin-left: -35%;
          text-align: center;
          & .news_content_flex {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 55px;

            & .slide_box {
              background-color: #fff;
              box-shadow: 0 8px 20px rgba(40, 40, 40, 0.1);
              padding: 20px;
              border-radius: 8px;
              &:nth-child(2) {
                margin: 0 20px;
              }
              & .news_img_box {
                border-radius: 8px;
                margin-bottom: 20px;
              }
              & .slide_content {
                text-align: left;
                & .slide_title {
                  color: #000;
                  font-size: 24px;
                  padding-bottom: 15px;
                  border-bottom: 1px solid #e6e6e6;
                  margin-bottom: 15px;
                }
                & .slide_sub_title {
                  overflow: hidden;
                  text-overflow: ellipsis;
                  display: -webkit-box;
                  -webkit-box-orient: vertical;
                  -webkit-line-clamp: 2;
                  word-break: break-all;
                }
              }
            }
          }
          & .news_swiper {
            margin-bottom: 1vw;
            & .slide_box {
              background-color: #fff;
              box-shadow: 0 0 20px rgba(40, 40, 40, 0.1);
              padding: 20px;
              border-radius: 8px;
              & .news_img_box {
                border-radius: 8px;
                margin-bottom: 20px;
                width: 100%;
                height: 50%;
                & img {
                  width: 100%;
                  height: 100%;
                }
              }
              & .slide_content {
                text-align: left;
                & .slide_title {
                  color: #666;
                  font-weight: bold;
                  font-size: 20px;
                  padding-bottom: 15px;
                  border-bottom: 1px solid #e6e6e6;
                  margin-bottom: 15px;
                  & span {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 1;
                    word-break: break-all;
                  }
                }
                & .slide_sub_title {
                  font-size: 16px;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  display: -webkit-box;
                  -webkit-box-orient: vertical;
                  -webkit-line-clamp: 2;
                  word-break: break-all;
                }
              }
              &:hover {
                cursor: pointer;
                & .slide_title {
                  color: #000;
                }
              }
            }
          }
          & .swiper-button-prev {
            left: -60px;
            background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l4.2%2C4.2L8.4%2C22l17.8%2C17.8L22%2C44L0%2C22z'%20fill%3D'%23cccccc'%2F%3E%3C%2Fsvg%3E");
          }

          & .swiper-button-next {
            right: -60px;
            background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L5%2C44l-4.2-4.2L18.6%2C22L0.8%2C4.2L5%2C0z'%20fill%3D'%23cccccc'%2F%3E%3C%2Fsvg%3E");
          }
        }
      }
    }
  }
}

/*公共部分*/
.part_title_item {
  color: #000;
  &.portrait_title {
    text-align: center;
  }
  & .part_title {
    font-size: 30px;
    margin-bottom: 20px;
  }
  & .part_sub_title {
    font-size: 20px;
    color: rgba(0, 0, 0, .5);
    line-height: 30px;
    margin-bottom: 20px;
  }
  & .part_button {
    color: rgba(255, 255, 255, 0.8);
    background: linear-gradient(to left, #1596ec, #3dd337);
    font-size: 16px;
    border: none;
    padding: 6px 25px;
    height: 40px;
    border-radius: 40px;
    &:hover {
      cursor: pointer;
      color: #fff;
    }
  }
}

@media screen and (max-width: 768px) {
  .allModules {
    & .content_item {
      padding: 27px 0;
      &.no-padding {
        padding: 0;
      }
      &.same_box {
        & .flex_layout {
          & .text_width {
            padding: 0 10px;
            &.ecological_text_width {
              padding: 0;
              width: 90%;
              margin: 0 auto;
              text-align: right;
            }
          }
          &.education_flex {
            top: 25px;
            display: block;
            & .education_img_outer {
              width: 80%;
            }
            & .education_text {
              width: 100%;
            }
          }
          &.growth_flex {
            & .irregular_img_outer {
              width: 90%;
            }
          }
          &.result_flex {
            & .irregular_img_outer {
              width: 90%;
            }
          }
          & .right_img {
            width: 15%;
            height: 100%;
          }
          &.ecological_layout {
            display: inline-block;
            & .ecological_img_outer {
              width: 90%;
            }
            & .right_img {
              display: none;
            }
          }
          & .irregular_img_outer {
            &.education_inter_img_outer, &.ecological_inter_img_outer {
              width: 80%;
            }
            &.education_inter_img_outer {
              left: 20%;
            }
          }
          & .ecological_inter_text_width {
            width: 100%;
          }
        }
        & .class_layout {
          & .portrait_title {
            width: 80%;
            left: 60%;
            top: 20%;
          }
        }
      }
      &.professional_banner {
        padding: 0;
        & .swiper-container .swiper-slide .banner_text {
          left: 6%;
          & .banner_title {
            font-size: 18px;
          }
          & .banner_sub_title {
            font-size: 16px;
          }
          & .banner_tex {
            font-size: 14px;
          }
        }
        & .banner_bg{
          & .banner_bottom_img {
            &.mobile{
              display: block;
            }
            &.pc{
              display: none;
            }
          }
        }
      }
      &.portrait_box {
        padding: 0;
        & .portrait_flex {
          top: 62%;
          & .flex_item {
            width: 30%;
          }
        }
        & .portrait_title {
          margin-left: -50% !important;
          top: 9%;
        }
      }
      &.news_box {
        padding-bottom: 0;
        & .news_bottom_img {
          &.pc {
            display: none;
          }
          &.mobile {
            display: block;
          }
        }
        & .news_content {
          & .portrait_title {
            top: 8%;
          }
          & .news_swiper_outer {
            top: 30%;
            & .swiper_btn {
              display: none;
            }
            & .news_swiper {
              margin-bottom: 15px;
              & .slide_box {
                padding: 20px 0;
                & .slide_content {
                  & .slide_title {
                    font-size: 17px;
                  }
                  & .slide_sub_title {
                    font-size: 14px;
                  }
                }
              }
            }
          }
        }
        &.news_inter_box {
          height: 140vw;
          & .news_content {
            & .news_swiper_outer {
              top: 30% !important;
              & .swiper-slide {
                &:nth-child(even) {
                  & .slide_box {
                    & .news_img_box {
                      & .news_img_radius {
                        height: 30vw !important;
                        bottom: -2.5vw;
                        &::after{
                          height: 30vw !important;
                        }
                      }
                    }
                  }
                }
                & .slide_box {
                  & .news_img_box{
                    height: 30vw !important;
                    &::after{
                      height: 30vw !important;
                    }
                    & .news_img_radius {
                      height: 28vw !important;
                      &::after{
                        height: 28vw !important;
                      }
                      & img.news_border_img{
                        max-height: 24.8vw !important;
                      }
                    }
                  }
                }
              }
            }
          }
        }

      }
    }
  }
  .part_title_item {
    & .part_title {
      font-size: 18px;
      margin-bottom: 15px;
    }
    & .part_sub_title {
      font-size: 14px;
      line-height: 24px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      word-break: break-all;
      &.padding_sub_title {
        padding: 0 20px;
      }
    }
    & .part_button {
      font-size: 14px;
      padding: 6px 20px;
    }
  }
}

@media screen and (max-width: 320px){
  .allModules .content_item.news_box.news_inter_box{
    height: 150vw !important;
  }
}
