@charset "UTF-8";
.navMenu {
  position: absolute;
  z-index: 50;
  width: 100%;
  top: 0;
  & .navHeader {
    margin: 0 auto;
    padding-left: 1.2vw;
    padding-right: 1.2vw;
    width: 100%;
    text-align: center;
    font-family: "kinderFont";
    &:after {
      display: block;
      clear: both;
      content: '';
      visibility: hidden;

    }
    & .navLogo {
      text-align: right;
      display: inline-block;
      vertical-align: middle;
      line-height: 54px;
      & img {
        width: 100%;
        display: inline-block;
        vertical-align: middle;
      }
      &>a {
        width: 24px;
        display: inline-block;
        cursor: pointer;
        text-decoration: none;
        color: #fff;

      }
      & .icon-logo {
        font-size: 24px;
        color: #fff;
      }
      &>a>img {
        transition: margin-top 0.5s;
        -webkit-transition: margin-top 0.5s;
        -moz-transition: margin-top 0.5s;
      }
    }
    & .header-menu {
      list-style: none;
      padding: 0;
      margin: 0;
      &:after {
        display: block;
        content: "";
        clear: both;
        visibility: hidden;
      }
      &>li {
        list-style: none;
        display: inline-block;
        text-align: center;
        margin: 0 1vw;
        &>a {
          text-decoration: none;
          color: rgba(255, 255, 255, 0.7);
          font-size: 16px;
          cursor: pointer;
          transition: color 0.4s ease 0.1s;
          &:hover{
            color: rgba(255, 255, 255, 1);
          }
          &.active{
            color: #fff;
          }
        }
      }
    }
    & .header-right {
      display: inline-block;
      line-height: 54px;
      vertical-align: middle;
      &>li {
        margin-left: 5px;
        margin-right: 5px;
        display: inline-block;
      }
      & .notUser {
        display: inline-block;
      }
      & .userMsg {
        font-size: 16px;
        color: rgba(255, 255, 255, 0.7);
        line-height: 50px;
        cursor: pointer;
        position: relative;
        margin-top: 0;
        display: none;
        & .userImgBox .userImgdefault {
          vertical-align: middle;
        }
        & span {
          display: inline-block;

        }
        & .userImg {
          width: 22px;
          height: 22px;
          border-radius: 50%;
          background: #0258bf;
          display: inline-block;
          margin-right: 5px;
          vertical-align: sub;
        }
        & .expend {
          margin-right: 5px;
          & i {
            font-size: 12px;
          }
        }
        & .selectTips {
          position: absolute;
          width: 12vw;
          top: 3.5vw;
          right: 0;
          z-index: 30;
          line-height: 40px;
          list-style-type: none;
          background: #fff;
          border-radius: 4px;
          color: #999;
          display: none;
          font-size: 14px;
          & .arrows {
            display: inline-block;
            border-width: 0 0.4vw 0.5vw 0.4vw;
            width: 0;
            height: 0;
            border-style: solid;
            position: absolute;
            top: -6px;
            right: 1vw;
            border-color: transparent transparent #fff transparent;
          }
          & li {
            width: 100%;
            padding-left: 1vw;
            &:last-child {
              border: none !important;
            }
          }
        }
      }
    }
    & .menu-list{
      text-align: center;
      display: inline-block;
      line-height: 54px;
    }
    & .topCover {
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 20vw;
      display: block;
      background-image: linear-gradient(to bottom, rgba(2, 88, 191, 0.3), rgba(2, 88, 191, 0));
    }

  }
}
@media screen and (max-width: 1024px) {
  #pcMenu {
    display: none
  }

  #mobile-news-menu {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    line-height: 44px;
    background: #02bf82;
    color: #fff;
    padding: 0 20px;
    top: 0;
    z-index: 30;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    & a{
      display: block;
      width: 100%;
      text-decoration: none;
      color: #999;
      font-size: 16px;
      border-bottom: 1px solid #eaeaea;
      cursor: pointer;
    }
    & .logo, & .list{
      flex: 1;
      & a{
        color: #fff;
      }
      & .iconfont{
        font-size: 22px;
      }
    }
    & .sliderMenu {
      list-style-type: none;
      background: #fff;
      color: #333;
      position: absolute;
      top: 0;
      left: -75%;
      z-index: 22;
      width: 75%;
      height: 100vh;
      transition: left .4s cubic-bezier(.4, 0, 0, 1);
      padding: 40px 15px;
      line-height: 3.5rem;
    }
    & .menuType {
      position: relative;
    }
    & .opacity {
      width: 100%;
      height: 100vh;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(255, 255, 255, 0);
      z-index: 21;
      display: none;
    }
    & .aLink {
      display: block;
      width: 100%;
      text-decoration: none;
      color: #999;
      font-size: 16px;
      border-bottom: 1px solid #eaeaea;
      cursor: pointer;
      &.active{
        color: #0258bf;
      }
    }
    & .rightIcon {
      position: absolute;
      right: 0px;
      z-index: 10;
      font-size: 16px;
      color: #ccc;
      top: 0;
    }
  }
}