@charset "UTF-8";
.allModules {
  position: relative; }
  .allModules .content_item {
    position: relative;
    width: 100%;
    background-color: #fff; }
    .allModules .content_item.professional_banner .professional_outer {
      width: 100%;
      height: 100vh;
      position: relative;
      overflow: hidden; }
    .allModules .content_item.professional_banner .swiper-container {
      width: 100%;
      height: 100%; }
      .allModules .content_item.professional_banner .swiper-container .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center; }
        .allModules .content_item.professional_banner .swiper-container .swiper-slide .banner_text {
          position: absolute;
          left: 18%;
          top: 40%;
          color: #fff;
          text-align: left; }
          .allModules .content_item.professional_banner .swiper-container .swiper-slide .banner_text .banner_title {
            font-size: 32px;
            letter-spacing: 3px;
            margin-bottom: 20px; }
          .allModules .content_item.professional_banner .swiper-container .swiper-slide .banner_text .banner_sub_title {
            color: rgba(255, 255, 255, 0.4);
            font-size: 18px; }
    .allModules .content_item.professional_banner .banner_bg {
      position: absolute;
      width: 100%;
      z-index: 100; }
      .allModules .content_item.professional_banner .banner_bg .banner_bottom_img {
        width: 100%;
        position: absolute;
        bottom: 0;
        display: block; }
    .allModules .content_item.professional_banner .swiper-pagination-bullet {
      width: 24px;
      height: 5px;
      border-radius: 5px;
      opacity: .9;
      background-color: #fff; }
    .allModules .content_item.professional_banner .swiper-pagination-bullet-active {
      background-color: #f89f0d; }
    .allModules .content_item.professional_banner .swiper-pagination {
      margin-bottom: 25px;
      top: 72%; }
    .allModules .content_item.portrait_box .portrait_title {
      position: absolute;
      top: 18%;
      left: 50%;
      letter-spacing: 2px; }
    .allModules .content_item.portrait_box .portrait_bg {
      position: relative;
      right: 0;
      width: 100%;
      top: 0; }
    .allModules .content_item.portrait_box .portrait_flex {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 40%;
      width: 80%;
      left: 50%;
      margin-left: -40%; }
      .allModules .content_item.portrait_box .portrait_flex .flex_item {
        background-color: #ddd;
        width: 20%;
        border-radius: 50%; }
        .allModules .content_item.portrait_box .portrait_flex .flex_item:nth-child(2) {
          margin: 0 10%; }
        .allModules .content_item.portrait_box .portrait_flex .flex_item .portrait_img {
          width: 100%;
          height: 100%; }
    .allModules .content_item.same_box .flex_layout {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative; }
      .allModules .content_item.same_box .flex_layout.education_flex {
        top: -20px; }
      .allModules .content_item.same_box .flex_layout.ecological_layout {
        align-items: flex-end; }
      .allModules .content_item.same_box .flex_layout .irregular_img_outer {
        position: relative;
        width: 50%; }
        .allModules .content_item.same_box .flex_layout .irregular_img_outer.education_img_outer {
          background: url(../images/professional/education_img.jpg) no-repeat center;
          background-size: cover;
          background-position: left; }
        .allModules .content_item.same_box .flex_layout .irregular_img_outer.growth_img_outer {
          background: url(../images/professional/growth_img.jpg) no-repeat center;
          background-position: right;
          background-size: cover; }
        .allModules .content_item.same_box .flex_layout .irregular_img_outer.ecological_img_outer {
          background: url(../images/professional/ecological_img.jpg) no-repeat center;
          background-size: cover;
          background-position: left;
          width: 70%; }
        .allModules .content_item.same_box .flex_layout .irregular_img_outer.result_img_outer {
          background: url(../images/professional/result_img.png) no-repeat center;
          background-position-x: left;
          background-position-y: top;
          background-size: cover; }
        .allModules .content_item.same_box .flex_layout .irregular_img_outer .irregular_img {
          position: relative;
          height: 100%; }
          .allModules .content_item.same_box .flex_layout .irregular_img_outer .irregular_img img {
            width: 100%;
            display: block;
            height: 100%; }
      .allModules .content_item.same_box .flex_layout .text_width {
        text-align: left;
        padding: 0 160px;
        width: 50%; }
        .allModules .content_item.same_box .flex_layout .text_width.ecological_text_width {
          width: 30%;
          padding: 0 140px 0 0; }
    .allModules .content_item.news_box .bottom_img {
      position: relative;
      left: 0;
      width: 100%;
      bottom: 0; }
    .allModules .content_item.news_box .news_content {
      width: 100%;
      margin: 0 auto; }
      .allModules .content_item.news_box .news_content .portrait_title {
        position: absolute;
        top: 18%;
        left: 50%; }
      .allModules .content_item.news_box .news_content .news_swiper_outer {
        position: absolute;
        width: 70%;
        top: 30%;
        left: 50%;
        margin-left: -35%;
        text-align: center; }
        .allModules .content_item.news_box .news_content .news_swiper_outer .news_content_flex {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 55px; }
          .allModules .content_item.news_box .news_content .news_swiper_outer .news_content_flex .slide_box {
            background-color: #fff;
            box-shadow: 0 8px 20px rgba(40, 40, 40, 0.1);
            padding: 20px;
            border-radius: 8px; }
            .allModules .content_item.news_box .news_content .news_swiper_outer .news_content_flex .slide_box:nth-child(2) {
              margin: 0 20px; }
            .allModules .content_item.news_box .news_content .news_swiper_outer .news_content_flex .slide_box .news_img_box {
              border-radius: 8px;
              margin-bottom: 20px; }
            .allModules .content_item.news_box .news_content .news_swiper_outer .news_content_flex .slide_box .slide_content {
              text-align: left; }
              .allModules .content_item.news_box .news_content .news_swiper_outer .news_content_flex .slide_box .slide_content .slide_title {
                color: #000;
                font-size: 24px;
                padding-bottom: 15px;
                border-bottom: 1px solid #e6e6e6;
                margin-bottom: 15px; }
              .allModules .content_item.news_box .news_content .news_swiper_outer .news_content_flex .slide_box .slide_content .slide_sub_title {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                word-break: break-all; }
        .allModules .content_item.news_box .news_content .news_swiper_outer .news_swiper {
          margin-bottom: 50px; }
          .allModules .content_item.news_box .news_content .news_swiper_outer .news_swiper .slide_box {
            background-color: #fff;
            box-shadow: 0 0 20px rgba(40, 40, 40, 0.1);
            padding: 20px;
            border-radius: 8px; }
            .allModules .content_item.news_box .news_content .news_swiper_outer .news_swiper .slide_box .news_img_box {
              border-radius: 8px;
              margin-bottom: 20px;
              width: 100%;
              height: 50%; }
              .allModules .content_item.news_box .news_content .news_swiper_outer .news_swiper .slide_box .news_img_box img {
                width: 100%;
                height: 100%; }
            .allModules .content_item.news_box .news_content .news_swiper_outer .news_swiper .slide_box .slide_content {
              text-align: left; }
              .allModules .content_item.news_box .news_content .news_swiper_outer .news_swiper .slide_box .slide_content .slide_title {
                color: #000;
                font-weight: bold;
                font-size: 20px;
                padding-bottom: 15px;
                border-bottom: 1px solid #e6e6e6;
                margin-bottom: 15px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                word-break: break-all; }
              .allModules .content_item.news_box .news_content .news_swiper_outer .news_swiper .slide_box .slide_content .slide_sub_title {
                font-size: 16px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                word-break: break-all; }
        .allModules .content_item.news_box .news_content .news_swiper_outer .swiper-button-prev {
          left: -60px;
          background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l4.2%2C4.2L8.4%2C22l17.8%2C17.8L22%2C44L0%2C22z'%20fill%3D'%23cccccc'%2F%3E%3C%2Fsvg%3E"); }
        .allModules .content_item.news_box .news_content .news_swiper_outer .swiper-button-next {
          right: -60px;
          background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L5%2C44l-4.2-4.2L18.6%2C22L0.8%2C4.2L5%2C0z'%20fill%3D'%23cccccc'%2F%3E%3C%2Fsvg%3E"); }

/*公共部分*/
.part_title_item {
  color: #000; }
  .part_title_item.portrait_title {
    text-align: center; }
  .part_title_item .part_title {
    font-size: 30px;
    margin-bottom: 20px; }
  .part_title_item .part_sub_title {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    line-height: 30px;
    margin-bottom: 20px; }
  .part_title_item .part_button {
    color: #fff;
    background: linear-gradient(to left, #1596ec, #3dd337);
    font-size: 16px;
    border: none;
    padding: 6px 25px;
    height: 40px;
    border-radius: 40px; }

@media screen and (max-width: 768px) {
  .allModules .content_item {
    padding: 27px 0; }
    .allModules .content_item.same_box .flex_layout .text_width {
      padding: 0 15px; }
      .allModules .content_item.same_box .flex_layout .text_width.ecological_text_width {
        padding: 0;
        width: 40%; }
    .allModules .content_item.same_box .flex_layout.education_flex {
      top: 25px; }
    .allModules .content_item.same_box .flex_layout .right_img {
      width: 15%;
      height: 100%; }
    .allModules .content_item.same_box .flex_layout.ecological_layout {
      align-items: baseline; }
    .allModules .content_item.professional_banner {
      padding: 0; }
      .allModules .content_item.professional_banner .swiper-container .swiper-slide .banner_text {
        left: 10%; }
        .allModules .content_item.professional_banner .swiper-container .swiper-slide .banner_text .banner_title {
          font-size: 20px; }
        .allModules .content_item.professional_banner .swiper-container .swiper-slide .banner_text .banner_tex {
          font-size: 16px; }
    .allModules .content_item.portrait_box {
      padding: 0; }
      .allModules .content_item.portrait_box .portrait_flex {
        top: 62%; }
        .allModules .content_item.portrait_box .portrait_flex .flex_item {
          width: 30%; }
      .allModules .content_item.portrait_box .portrait_title {
        margin-left: -50%;
        top: 9%; }
    .allModules .content_item.news_box .news_content .news_swiper_outer .swiper_btn {
      display: none; }

  .part_title_item .part_title {
    font-size: 20px;
    margin-bottom: 15px; }
  .part_title_item .part_sub_title {
    font-size: 16px;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    word-break: break-all; }
    .part_title_item .part_sub_title.padding_sub_title {
      padding: 0 20px; } }

/*# sourceMappingURL=professional.css.map */
