@charset "UTF-8";
#mobileMenu, .mobile-news-menu {
  display: none;
}

.menu-wrapper {
  position: absolute;
  top: 100vh;
  z-index: 60;
  width: 100%;
  height: 64px;
  & .menu-list-wrapper {
    position: relative;
    z-index: 100;
    display: none;
    & .nav-wrapper {
      margin: 0 auto;
      width: 100%;
      background: rgba(2, 88, 191, 0.85);
      &:after {
        display: block;
        content: "";
        clear: both;
        visibility: hidden;
      }
      & .menu-style {
        list-style: none;
        padding: 0;
        overflow: hidden;
        & > li {
          list-style: none;
          /* float: left; */
          display: block;
          margin-left: 2rem;
          /* margin-top: 19px; */
          /* line-height: 1rem; */
        }
      }
      & .first-menu {
        max-width: 81%;
        padding-left: 1.2vw;
        padding-right: 1.2vw;
        width: 100%;
        margin: 0 auto;
        & .first-menu-right {
          float: right;
        }
        & .first-menu-left {
          padding-left: 1rem;
          padding-right: 1rem;
          display: flex;
          display: -webkit-flex;
          display: -moz-flex;
          height: 64px;
          align-items: center;
          justify-content: center;
          transition: height .5s ease 0.1s;
          & > li {
            flex: 1;
            -webkit-flex: 1;
            -moz-flex: 1;
            text-align: center;
            cursor: pointer;
            height: 100%;
            &.active {
              position: relative;
              & > .bottom-arrow {
                display: block;
                position: absolute;
                bottom: 0;
                width: 0;
                height: 0;
                border-width: 0.5vw;
                left: 40%;
                border-style: solid;
                border-color: transparent transparent #fff transparent;
              }
            }
            & > a {
              text-decoration: none;
              color: rgba(255, 255, 255, 0.7);
              font-size: 16px;
              width: 100%;
              height: 64px;
              line-height: 64px;
              text-overflow: clip;
              white-space: nowrap;
              overflow: hidden;
              transition: color .4s ease;
              -webkit-transition: color .4s ease;
              &:hover {
                color: rgba(255, 255, 255, 1);
              }
            }
          }
        }

      }
    }
    & .nav-detail-wrapper {
      background: #fff;
      margin: 0 auto;
      width: 100%;
      height: 48px;
      -moz-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
      transition: all 1s ease 0.1s;
      & .second-menu {
        max-width: 82%;
        padding-left: 1.2vw;
        padding-right: 1.2vw;
        width: 100%;
        margin: 0 auto;
      }
    }
    & .second-menu-transform {
      transform: translateX(26px);
      -webkit-transform: translateX(26px);
      -moz-transform: translateX(26px);
      -o-transform: translateX(26px);
    }
    & .second-menu-left {
      padding-left: 1rem;
      padding-right: 1rem;
      display: flex;
      display: -webkit-flex;
      display: -moz-flex;
      height: 48px;
      align-items: center;
      justify-content: left;
      & > li {
        margin-left: 3.5vw;
        &:nth-child(1) {
          border-right: 1px solid #999;
          line-height: 16px;
          padding-right: 25px;
          margin-left: 3vw;
          & a {
            font-size: 16px;
            cursor: pointer;
          }
        }
        & > a {
          color: #999;
          font-size: 16px;
          cursor: pointer;
          text-decoration: none;
          transition: color .4s ease;
          -webkit-transition: color .4s ease;
          &:hover {
            color: #333;

          }
        }
      }
    }
    & .menu-wrapper-logo {
      float: left;
      text-align: right;
      height: 64px;
      position: absolute;
      z-index: 1;
      & .logo-a {
        display: table-cell;
        vertical-align: middle;
        width: 24px;
        height: 50px;
        text-decoration: none;
        & img {
          width: 100%;
          vertical-align: middle;
        }
        & .icon-logo {
          font-size: 24px;
          color: #fff;
        }
      }
    }
    & .menu-wrapper-logo-transform {
      transform: translateY(56px);
      -webkit-transform: translateY(56px);
      -moz-transform: translateY(56px);
      -webkit-transition: -webkit-transform .3s;
      transition: transform .3s;
      -moz-transition: -moz-transform .3s;
    }
  }
  & .menu-list-transform {
    transform: translateY(-64px);
    -webkit-transform: translateY(-64px);
    -moz-transform: translateY(-64px);
    -o-transform: translateY(-64px);
  }
  & .menu-list-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    -webkit-transition: -webkit-transform .25s;
    transition: transform .25s;
    -moz-transition: -moz-transform .25s;
  }
}

@media screen and (max-width: 1200px) {
  .menu-wrapper .nav-wrapper .first-menu {
    max-width: 95%;
  }

  .menu-list-wrapper .nav-detail-wrapper .second-menu {
    max-width: 95%;
  }
}

@media screen and (max-width: 1024px) {
  #pcMenu, .navMenu {
    display: none;
  }

  #mobileMenu, .mobile-news-menu {
    display: block;
  }

  #second-mobile-news-menu {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    line-height: 44px;
    background: #0258bf;
    color: #fff;
    padding: 0 20px;
    position: relative;
    top: 0;
    z-index: 30;
    width: 100%;
    display: flex;
    & .logo, & .list {
      flex: 1;
      & a {
        color: #fff !important;
      }
      & .iconfont {
        font-size: 22px;
      }
    }
    & .sliderMenu {
      list-style-type: none;
      background: #fff;
      color: #333;
      position: absolute;
      top: 0;
      left: -75%;
      z-index: 22;
      width: 75%;
      height: 100vh;
      transition: left .4s cubic-bezier(.4, 0, 0, 1);
      padding: 40px 15px;
      line-height: 3.5rem;
    }
    & .menuType {
      position: relative;
    }
    & .opacity {
      width: 100%;
      height: 100vh;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(255, 255, 255, 0);
      z-index: 21;
      display: none;
    }
    & .aLink {
      display: block;
      width: 100%;
      text-decoration: none;
      color: #999;
      font-size: 16px;
      border-bottom: 1px solid #eaeaea;
      cursor: pointer;
    }
    & .rightIcon {
      position: absolute;
      right: 0;
      z-index: 10;
      font-size: 16px;
      color: #ccc;
      top: 0;
    }
  }
  .mobile-menu-wrapper {
    position: absolute;
    top: 100vh;
    z-index: 60;
    width: 100%;
    height: 64px;
    & .menu-list-transform {
      transform: translateY(-44px);
      -webkit-transform: translateY(-44px);
      -moz-transform: translateY(-44px);
      -o-transform: translateY(-44px);
    }
    & .mobile-news-menu {
      position: relative !important;
    }
    & .nav-detail-wrapper .second-menu-mobile {
      line-height: 44px;
      & .mainTips {
        display: flex;
      }
      & .mainTitle {
        padding: 0 15px;
      }
      & a {
        color: #666;
        font-size: 18px;
        display: block;
      }
      & .mainIcon {
        font-size: 18px;
        color: #666
      }
    }
    & .secondSlideMenu {
      list-style-type: none;
      background: #fff;
      color: #333;
      position: absolute;
      top: 88px;
      z-index: 22;
      width: 100%;
      display: none;
      transition: left .4s cubic-bezier(.4, 0, 0, 1);
      padding: 0 15px;
      line-height: 3.5rem;
      box-shadow: 0 4px 9px -3px rgba(153, 153, 153, 0.3);
      & .secondListTip {
        border-top: 1px solid #eaeaea;
      }
      & a {
        color: #999;
        font-size: 16px;
        display: block;
        width: 100%;
      }
    }
  }
}
