*, :after, :before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

body {
  margin: 0;
  padding: 0;
  font-family: 'PingFangSC-Light', 'PingFangSC-Regular', 'Microsoft Yahei', 'sans-serif';
  font-weight: normal;
  background: #eee;
  -webkit-font-smoothing: antialiased;
  position: relative; }

a {
  text-decoration: none; }

input, textarea, select, a, button:focus {
  outline: none; }

.letter_font {
  letter-spacing: 4px;
  font-size: 1rem; }

.start_body {
  position: relative; }
  .start_body .start_page {
    background: url("../images/start/page_bg.jpg") no-repeat center;
    width: 100%;
    height: 100%;
    background-size: cover;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1; }
    .start_body .start_page .start_header {
      width: 100%;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
      .start_body .start_page .start_header .header_box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100px;
        width: 80%;
        margin: 0 auto; }
        .start_body .start_page .start_header .header_box .header_item select {
          margin-right: 1.6rem; }
        .start_body .start_page .start_header .header_box .header_item .btn {
          background: transparent;
          border: none;
          color: rgba(255, 255, 255, 0.8);
          font-size: 1.25rem; }
          .start_body .start_page .start_header .header_box .header_item .btn:focus {
            border: none; }
          .start_body .start_page .start_header .header_box .header_item .btn:first-child {
            margin-right: .6rem; }
          .start_body .start_page .start_header .header_box .header_item .btn:hover {
            color: #fff;
            cursor: pointer; }
        .start_body .start_page .start_header .header_box .header_item:last-child {
          display: flex;
          align-items: center; }
    .start_body .start_page .figure_box {
      position: absolute;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around; }
      .start_body .start_page .figure_box .figure {
        opacity: 0;
        transition: opacity linear .3s; }
    .start_body .start_page .start_center {
      position: absolute;
      bottom: 200px;
      width: 100%;
      color: rgba(255, 255, 255, 0.8); }
      .start_body .start_page .start_center .center_box {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 0 auto;
        font-size: 1.2rem; }
        .start_body .start_page .start_center .center_box .center_item {
          text-align: center; }
          .start_body .start_page .start_center .center_box .center_item p {
            font-size: 1.35rem; }
          .start_body .start_page .start_center .center_box .center_item .center_btn {
            padding: .8rem 6rem;
            background: linear-gradient(to right, rgba(61, 140, 195, 0.75), rgba(93, 179, 66, 0.75));
            border-radius: 46px;
            margin-bottom: 2rem;
            display: flex;
            align-items: center;
            border: 1px solid rgba(234, 212, 25, 0);
            transition: background-color linear .2s; }
            .start_body .start_page .start_center .center_box .center_item .center_btn span {
              padding-left: 15px;
              font-size: 1.5rem; }
            .start_body .start_page .start_center .center_box .center_item .center_btn .icon {
              width: 41px;
              margin: 0 auto;
              position: relative;
              overflow: hidden; }
              .start_body .start_page .start_center .center_box .center_item .center_btn .icon.education {
                width: 57px; }
                .start_body .start_page .start_center .center_box .center_item .center_btn .icon.education img {
                  filter: drop-shadow(57px 0 #e9d20f);
                  -webkit-filter: drop-shadow(57px 0 #e9d20f); }
              .start_body .start_page .start_center .center_box .center_item .center_btn .icon img {
                display: block;
                margin: 0 auto;
                position: relative;
                filter: drop-shadow(41px 0 #e9d20f);
                -webkit-filter: drop-shadow(41px 0 #e9d20f); }
            .start_body .start_page .start_center .center_box .center_item .center_btn:hover {
              background: rgba(255, 255, 255, 0.1);
              border-color: rgba(234, 212, 25, 0.2);
              color: #ead419;
              cursor: pointer; }
              .start_body .start_page .start_center .center_box .center_item .center_btn:hover img {
                transform: translate(-41px, 0);
                -webkit-transform: translate(-41px, 0);
                -ms-transform: translate(-41px, 0);
                -o-transform: translate(-41px, 0); }
              .start_body .start_page .start_center .center_box .center_item .center_btn:hover .education img {
                transform: translate(-57px, 0);
                -webkit-transform: translate(-57px, 0);
                -ms-transform: translate(-57px, 0);
                -o-transform: translate(-57px, 0); }
            .start_body .start_page .start_center .center_box .center_item .center_btn img {
              margin-right: 1.5rem; }
    .start_body .start_page .start_footer {
      position: absolute;
      bottom: 2rem;
      color: rgba(255, 255, 255, 0.6);
      text-align: center;
      width: 100%;
      font-size: .7rem;
      padding: 0 10rem; }

@media screen and (max-width: 768px) {
  .start_body .start_page .start_header .header_box {
    height: 80px; }
    .start_body .start_page .start_header .header_box .header_item .btn {
      font-size: 6rem; }
      .start_body .start_page .start_header .header_box .header_item .btn:first-child {
        margin-right: 6.5rem; }
    .start_body .start_page .start_header .header_box .header_item:last-child {
      display: flex;
      align-items: center; }
  .start_body .start_page .start_center {
    letter-spacing: 2px; }
    .start_body .start_page .start_center .center_box {
      width: 96%; }
      .start_body .start_page .start_center .center_box .center_item .center_btn {
        padding: .8rem 2.5rem; }
        .start_body .start_page .start_center .center_box .center_item .center_btn .icon {
          transform: scale(0.8); }
        .start_body .start_page .start_center .center_box .center_item .center_btn span {
          font-size: 16px; }
  .start_body .start_page .figure_box .figure {
    max-width: 300px; }

  img.logo_img {
    max-width: 120px;
    width: 100%; } }

/*# sourceMappingURL=start.css.map */
